<h1>Test</h1>

<custom-dialog
  [layout]="'one'"
  [position]="position.RIGHT"
  class=""
>
  <ng-container header>
    <div>
      <button>Button</button>
    </div>
  </ng-container>
  <ng-container body>
    <div>
      <section>
        <h2> Skill name </h2>
        <p> .NET assemble </p>
      </section>
    </div>
  </ng-container>
  <ng-container footer>
    <section>
      <button> Previous Skill </button>
      <button> Next Skill </button>
    </section>
  </ng-container>
</custom-dialog>

<h2> Sección 2 </h2>

<router-outlet />
